<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          PlanetHunter
          <small>Ever thought about how you would fit into the StarWars Galaxy? Now you can figure out. You, as the user, will select
            the type of criteria that fits you. With these choices, we will tell you what type of gear, planets, and partners
            will help you become the next Jedi!</small>
        </h1>
      </div>
    </div>
  </div>
</div>